.GoogleSignIn {
  &__Button {
    border-radius: 8px;
    background-color: #61dafb;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-weight: bold;
  }
}